@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

:root{
    --red: #8D021F
}

*{
    font-family: 'JetBrains Mono', monospace;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    transition: all .2s linear;
}

*::selection{
    background: var(--red);
    color: #333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1.4rem;
}

html::-webkit-scrollbar-track{
    background: #222;
}

html::-webkit-scrollbar-thumb{
    background: var(--red);
}

body{
    background: #111;
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding: 1rem;
}

.btn{
    padding: .7rem 3rem;
    background: #333;
    color: #FFF;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background: var(--red)
}

.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #FFF4;
    color: #FFF;
}

.heading span{
    color: var(--red);
}

header{
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height: 17rem; width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--red);
}

header .user .name{
    font-size: 3.5rem;
    color: #FFF;
}

header .user .post{
    font-size: 2rem;
    color: #EEE;
}

header .nav-bar{
    width: 100%;
}

header .nav-bar ul{
    list-style: none;
    padding: 1rem 3rem;
}

header .nav-bar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #FFF;
    font-size: 2rem;
    border-radius: 5rem;
}

header .nav-bar ul li a:hover{
    background: var(--red);
}

#menu{
    position: fixed;
    top: 2rem; right: 2rem;
    background: #333;
    color: #FFF;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color: #FFF;
}

.home h1{
    font-size: 5rem;
    color: #FFF;
}

.home h1 span{
    color: var(--red);
}

.home p{
    font-size: 2rem;
    color: #EEE;
    padding: 1rem 0;
}

.about .heading span{
    color: green;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 4rem;
    padding-right: 4rem;
}

.about .row .counter{
    flex: 1 1 48rem;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width: 100%;
    background: #222;
    padding: 1rem;
    margin: 2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color: green;
}

.about .row .counter .box h3{
    font-size: 2rem;
    color: #FFF;
}

.experience .heading span{
    color: #8F00FF;
}

.experience .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 8rem;
    padding-right: 6rem;
}

.experience .box-container .box{
    width: 35rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #FFF;
    position: relative;
}

.experience .box-container .box span{
    font-size: 1.3rem;
    background: #222;
    color: #FFF;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.experience .box-container .box h2{
    font-size: 3rem;
    color: #8F00FF;
    padding-top: 1.5rem;
}

.experience .box-container .box h3{
    font-size: 2rem;
    color: #FFF;
    padding-top: 1.5rem;
}

.experience .box-container .box p{
    font-size: 1.4rem;
    color: #EEE;
    padding: 1rem 0;
}

.experience .box-container .box i{
    position: absolute;
    top: -1.5rem; left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #FFF;
    background: #8F00FF;
}

.skills .heading span{
    color: #FF5F1F;
}

.skills .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 4rem;
    padding-right: 4rem;
}

.skills .box-container .box{
    height: 36rem;
    width: 45%;
    background: #222;
    text-align: left;
    padding: 2rem;
    margin: 2rem;
}

.skills .box-container .box span{
    font-size: 4rem;
    color: #FF5F1F;
}

.skills .box-container .box p{
    font-size: 2rem;
    color: #FFF;
}

.contact .heading span{
    color: blue;
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex: 1 1 30rem;
    padding: 4rem;
    padding-left: 8rem;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding: 1rem;
    margin: 1rem 0;
    background: #333;
    color: #FFF;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color: #FFF;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #EEE;
    padding: 1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color: blue;
}

.top{
    position: fixed;
    bottom: 7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}

@media (max-width:1350px){
    html{
        font-size: 55%;
    }

    .home{
        padding: 1rem 4rem;
    }

    .skills .box-container .box{
        width: 100%;
    }
}

@media (max-width:1200px){
    html{
        font-size: 55%;
    }

    .home{
        padding: 1rem 4rem;
    }

    .skills .box-container .box{
        width: 100%;
    }
}

@media (max-width:991px){
    header{
        left: -120%;
    }

    #menu{
        display: block;
    }

    header.toggle{
        left: 0%
    }

    body{
        padding: 0;
    }

    .skills .box-container .box{
        width: 100%;
    }
}

@media (max-width:768px){
    html{
        font-size: 50%;
    }

    .skills .box-container .box{
        width: 100%;
    }
}

@media (max-width:400px){
    header{
        width: 100vw;
    }

    .heading{
        margin: 0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }

    .experience .box-container .box{
        width: 100%;
    }

    .skills .box-container .box{
        width: 100%;
    }

    .contact .row form{
        margin: 3rem 0;
    }
}